@{
    ViewBag.Title = "DataSetting";
}

<h2>DataSetting</h2>
<ul>
    <li>
        @Html.ActionLink("客户", "HRAdminClientIndex", "Client", "", "")
    </li>
</ul>
<ul>
    <li>
        @Html.ActionLink("客户资料", "Index", "Document", "", "")
    </li>
    <li>
        @Html.ActionLink("客户参保城市资料", "Index", "ClientPensionCityDocument", "", "")
    </li>
    <li>
        @Html.ActionLink("客户商业保险", "Index", "Assurance", "", "")
    </li>
    <li>
        @Html.ActionLink("客户成本中心", "Index", "BudgetCenter", "", "")
    </li>
    <li>
        @Html.ActionLink("客户城市供应商户口", "Index", "ClientCitySupplierHukou", "", "")
    </li>
    <li>
        @Html.ActionLink("合同类型", "Index", "ContractType", "", "")
    </li>
    <li>
        @Html.ActionLink("客户化项目", "Index", "CustomField", "", "")
    </li>
    <li>
        @Html.ActionLink("客户部门", "Index", "Department", "", "")
    </li>
    <li>
        @Html.ActionLink("客户职级", "Index", "Level", "", "")
    </li>
    <li>
        @Html.ActionLink("客户职位", "Index", "Position", "", "")
    </li>
    <li>
        @Html.ActionLink("客户权重", "Index", "Weight", "", "")
    </li>
    <li>
        @Html.ActionLink("客户账套", "Index", "Zhangtao", "", "")
    </li>
</ul>
