@model OB.Models.Document

@{
    ViewBag.Name = "客户资料";
    ViewBag.Title = "详情";
}

<h1>@ViewBag.Name</h1>
<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>@ViewBag.Name</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ClientId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>
</fieldset>
<p>
    @using (Html.BeginForm("Edit", "Document"))
    {    
        @Html.AntiForgeryToken()

        @Html.Hidden("id", Model.Id)
        @Html.Hidden("returnUrl", @Url.Content((string)ViewBag.ReturnUrl))
        <input type="submit" value="编辑" />
    }
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">返回</a>
</p>
