@model OB.Models.User

@{
    ViewBag.Name = "Candidate";
    ViewBag.Title = "详情";
}

<h1>@ViewBag.Name</h1>
<h2>@ViewBag.Title</h2>

@Html.Action("CandidateAbstract", "Account", new { id = Model.Id })

<p>
    @using (Html.BeginForm("EditCandidate", "Account"))
    {    
        @Html.AntiForgeryToken()

        @Html.Hidden("id", Model.Id)
        @Html.Hidden("returnUrl", @Url.Content((string)ViewBag.ReturnUrl))
        <input type="submit" value="编辑" />
    }
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">返回</a>
</p>
