@{
    ViewBag.Title = "HR列表";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "AjaxBody",
        Url = Url.Action((string)ViewBag.Action),
    }; }

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "CreateHR")
</p>
@using (Ajax.BeginForm(ajaxOpts))
{
    <div>
        @Html.TextBox("keyword")
        <button type="submit">查询</button>
    </div>
}

<div id="AjaxBody">
    @Html.Action((string)ViewBag.Action)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}