@model OB.Models.Zhangtao

@{
    ViewBag.Name = "客户账套";
    ViewBag.Title = "删除";
}

<h1>@ViewBag.Name</h1>
<h2>@ViewBag.Title</h2>

<h3>您确定要删除此条记录么?</h3>

@Html.Action("Abstract")

<div>
    @using (Html.BeginForm("DeleteSave", "Zhangtao"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ClientId)
        @Html.Hidden("returnUrl", @Url.Content((string)ViewBag.ReturnUrl))

        <input type="submit" value="确认删除" />
    }
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>
