@model OB.Models.Zhangtao

@{
    ViewBag.Name = "客户账套";
    ViewBag.Title = "详情";
}

<h1>@ViewBag.Name</h1>
<h2>@ViewBag.Title</h2>

@Html.Action("Abstract", "Zhangtao", new { id = Model.Id })
<p>
    @using (Html.BeginForm("Edit", "Zhangtao"))
    {    
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.Hidden("returnUrl", @Url.Content((string)ViewBag.ReturnUrl))
        <input type="submit" value="编辑" />
    }
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">返回</a>
</p>
