@model OB.Models.ViewModel.EditClientPensionCityDocument

@{
    ViewBag.Name = "客户社保城市";
    ViewBag.Title = "编辑";
}

<h1>@ViewBag.Name</h1>
<h2>@ViewBag.Title</h2>

@Html.Action("Abstract", "ClientPensionCityDocument", new { id = Model.ClientPensionCityDocumentId })

@using (Html.BeginForm("EditSave", "ClientPensionCityDocument"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Name</legend>
        @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)
        @Html.HiddenFor(model => model.ClientPensionCityDocumentId)
        @Html.HiddenFor(model => model.ClientId)

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentIds)
        </div>
        <div class="editor-field autoHeight">
            @Html.ListBoxFor(model => model.DocumentIds, new MultiSelectList(OB.Lib.Common.GetClientDocumentList(Model.ClientId), "Id", "Name", Model.DocumentIds), new { @class = "multiselect2side", size = "10" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentNote)
        </div>
        <div class="editor-field autoHeight">
            @Html.EditorFor(model => model.DocumentNote)
            @Html.ValidationMessageFor(model => model.DocumentNote)
        </div>
        <p>
            <input type="submit" value="保存" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/cw/jquery.multiselect2side.js")
    <script type="text/javascript">
        $().ready(function () {
            $(".multiselect2side").multiselect2side();
        });
    </script>
}
@section Styles {
    @Styles.Render("~/Content/cw_css/jquery.multiselect2side.css")
}
