@model OB.Models.BudgetCenter

@{
    ViewBag.Name = "成本中心";
    ViewBag.Title = "详情";
}

<h1>@ViewBag.Name</h1>
<h2>@ViewBag.Title</h2>

@Html.Action("Abstract", "BudgetCenter", new { id = Model.Id })

<p>
    @using (Html.BeginForm("Edit", "BudgetCenter"))
    {    
        @Html.AntiForgeryToken()

        @Html.Hidden("id", Model.Id)
        @Html.Hidden("returnUrl", @Url.Content((string)ViewBag.ReturnUrl))
        <input type="submit" value="编辑" />
    }
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">返回</a>
</p>
