@model OB.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<fieldset>
    <legend>Client</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.HRAdmin.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HRAdmin.Name)
    </div>
</fieldset>

<div>
    @using (Html.BeginForm("DeleteConfirmed", "Client"))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("id", Model.Id)
        @Html.Hidden("returnUrl", @Url.Content((string)ViewBag.ReturnUrl))

        <input type="submit" value="确认删除" />
    }
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">返回</a>
</div>
