@model OB.Models.Client

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("EditSave", "Client"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Client</legend>
        @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HRAdminId, "HRAdmin")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.HRAdminId, new SelectList(Common.GetUserList("HRAdmin"), "Id", "Name"), String.Empty)
            @Html.ValidationMessageFor(model => model.HRAdminId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
