@model IEnumerable<Client>
<p>
    @using (Html.BeginForm("Create", "Client"))
    {    
        @Html.AntiForgeryToken()

        @Html.Hidden("returnUrl", Url.Action("Index", Html.RouteValues(new { page = ViewBag.Page }, (object)ViewBag.RV)))
        <input type="submit" value="新建" />
    }
</p>

@Html.Partial("PageLink")

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HRAdmin.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HRAdmin.Name)
                </td>
                <td>
                    <div class="groupOperation">
                        @using (Html.BeginForm("Edit", "Client"))
                        {    
                            @Html.AntiForgeryToken()

                            @Html.Hidden("id", item.Id)
                            @Html.Hidden("returnUrl", Url.Action("Index", Html.RouteValues(new { page = ViewBag.Page }, (object)ViewBag.RV)))
                            <input type="submit" value="编辑" />
                        }
                        @using (Html.BeginForm("Details", "Client"))
                        {    
                            @Html.AntiForgeryToken()

                            @Html.Hidden("id", item.Id)
                            @Html.Hidden("returnUrl", Url.Action("Index", Html.RouteValues(new { page = ViewBag.Page }, (object)ViewBag.RV)))
                            <input type="submit" value="详情" />
                        }
                        @using (Html.BeginForm("Delete", "Client"))
                        {    
                            @Html.AntiForgeryToken()

                            @Html.Hidden("id", item.Id)
                            @Html.Hidden("returnUrl", Url.Action("Index", Html.RouteValues(new { page = ViewBag.Page }, (object)ViewBag.RV)))
                            <input type="submit" value="删除" />
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
