@model IEnumerable<Client>
@{
    string returnUrl = Url.Action((((RouteValueDictionary)(ViewBag.RV))["returnRoot"]).ToString(), (RouteValueDictionary)(ViewBag.RV));
}
@Html.Partial("PageLink")

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="groupOperation">
                        @using (Html.BeginForm("HRAdminEditClient", "Client"))
                        {    
                            @Html.AntiForgeryToken()

                            @Html.Hidden("id", item.Id)
                            @Html.Hidden("returnUrl", returnUrl)
                            <input type="submit" value="编辑" />
                        }
                        @using (Html.BeginForm("Details", "Client"))
                        {    
                            @Html.AntiForgeryToken()

                            @Html.Hidden("id", item.Id)
                            @Html.Hidden("returnUrl", returnUrl)
                            <input type="submit" value="详情" />
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
