@model OB.Models.ViewModel.HRAdminEditClient

@{
    ViewBag.Title = "EditClientHR";
}

<h2>EditClientHR</h2>

@using (Html.BeginForm("HRAdminEditClientSave", "Client"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EditClientHR</legend>
        <div>
            @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)
            @Html.EditorFor(model => model)
            @Html.LabelFor(model => model.HRIds)
            @Html.ListBoxFor(model => model.HRIds, new MultiSelectList(OB.Lib.Common.GetHRList(), "Id", "Name", Model.HRIds), new { @class = "multiselect2side", size = "10" })
            @Html.LabelFor(model => model.PensionCities)
            @Html.ListBoxFor(model => model.PensionCities, new MultiSelectList(OB.Lib.Common.GetCityList(), "Id", "Name", Model.PensionCities), new { @class = "multiselect2side", size = "10" })
            @Html.LabelFor(model => model.TaxCities)
            @Html.ListBoxFor(model => model.TaxCities, new MultiSelectList(OB.Lib.Common.GetCityList(), "Id", "Name", Model.TaxCities), new { @class = "multiselect2side", size = "10" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PersonInfoNote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PersonInfoNote)
            @Html.ValidationMessageFor(model => model.PersonInfoNote)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EducationNote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EducationNote)
            @Html.ValidationMessageFor(model => model.EducationNote)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WorkNote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WorkNote)
            @Html.ValidationMessageFor(model => model.WorkNote)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FamilyNote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FamilyNote)
            @Html.ValidationMessageFor(model => model.FamilyNote)
        </div>
        <p>
            <input type="submit" value="保存" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/cw/jquery.multiselect2side.js")
    <script type="text/javascript">
        $().ready(function () {
            $(".multiselect2side").multiselect2side();
        });
    </script>
}
@section Styles {
    @Styles.Render("~/Content/cw_css/jquery.multiselect2side.css")
}

