@model OB.Models.ViewModel.HRAdminEditClient

@{
    ViewBag.Title = "EditClientHR";
}

<h2>EditClientHR</h2>

@using (Html.BeginForm("HRAdminEditClientSave", "Client"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EditClientHR</legend>
        @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)
        @Html.EditorFor(model => model)
        @Html.ListBoxFor(model => model.HRIds, new MultiSelectList(OB.Lib.Common.GetUserList("HR"), "Id", "Name", Model.HRIds), new { @class = "multiselect2side", size = "10" })
        @Html.ListBoxFor(model => model.TaxCities, new MultiSelectList(OB.Lib.Common.GetCityList(), "Id", "Name", Model.TaxCities), new { @class = "multiselect2side", size = "10" })

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/cw/jquery.multiselect2side.js")
    <script type="text/javascript">
        $().ready(function () {
            $(".multiselect2side").multiselect2side();
        });
    </script>
}
@section Styles {
    @Styles.Render("~/Content/cw_css/jquery.multiselect2side.css")
}

