@model OB.Models.ViewModel.HRAdminEditClient

@{
    ViewBag.Title = "EditClientHR";
}

<h2>EditClientHR</h2>

@using (Html.BeginForm("HRAdminEditClientSave", "Client"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EditClientHR</legend>
        @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)
        @Html.HiddenFor(model => model.ClientId)
        <div class="display-label">
            @Html.DisplayNameFor(model => model.ClientId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ClientId)
        </div>
        @Html.HiddenFor(model => model.ClientName)
        <div class="display-label">
            @Html.DisplayNameFor(model => model.ClientName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ClientName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HRIds)
        </div>
        <div class="editor-field autoHeight">
            @Html.ListBoxFor(model => model.HRIds, new MultiSelectList(OB.Lib.Common.GetHRList(), "Id", "Name", Model.HRIds), new { @class = "multiselect2side", size = "10" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WorkCities)
        </div>
        <div class="editor-field autoHeight">
            @Html.ListBoxFor(model => model.WorkCities, new MultiSelectList(OB.Lib.Common.GetCityList(), "Id", "Name", Model.WorkCities), new { @class = "multiselect2side", size = "10" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TaxCities)
        </div>
        <div class="editor-field autoHeight">
            @Html.ListBoxFor(model => model.TaxCities, new MultiSelectList(OB.Lib.Common.GetCityList(), "Id", "Name", Model.TaxCities), new { @class = "multiselect2side", size = "10" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PensionCities)
        </div>
        <div class="editor-field autoHeight">
            @Html.ListBoxFor(model => model.PensionCities, new MultiSelectList(OB.Lib.Common.GetCityList(), "Id", "Name", Model.PensionCities), new { @class = "multiselect2side", size = "10" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.AccumulationCities)
        </div>
        <div class="editor-field autoHeight">
            @Html.ListBoxFor(model => model.AccumulationCities, new MultiSelectList(OB.Lib.Common.GetCityList(), "Id", "Name", Model.AccumulationCities), new { @class = "multiselect2side", size = "10" })
        </div>

        <div class="clearBoth">
            <div class="editor-label">
                @Html.LabelFor(model => model.PersonInfoNote)
            </div>
            <div class="editor-field autoHeight">
                @Html.TextAreaFor(model => model.PersonInfoNote, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.PersonInfoNote)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.EducationNote)
            </div>
            <div class="editor-field autoHeight">
                @Html.TextAreaFor(model => model.EducationNote, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.EducationNote)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.WorkNote)
            </div>
            <div class="editor-field autoHeight">
                @Html.TextAreaFor(model => model.WorkNote, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.WorkNote)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.FamilyNote)
            </div>
            <div class="editor-field autoHeight">
                @Html.TextAreaFor(model => model.FamilyNote, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.FamilyNote)
            </div>
        </div>

        <p>
            <input type="submit" value="保存" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/cw/jquery.multiselect2side.js")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")

    <script type="text/javascript">
        $().ready(function () {
            $(".multiselect2side").multiselect2side();

            CKEDITOR.replace('Content', {
                // Load the German interface.
                language: 'zh-cn'
            });
        });
    </script>
}
@section Styles {
    @Styles.Render("~/Content/cw_css/jquery.multiselect2side.css")
}

