@{
    ViewBag.Title = "客户列表";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "AjaxBody",
        Url = Url.Action((string)ViewBag.Action),
    };
    
}

<h2>@ViewBag.Title</h2>
@Html.Partial("Msg")

@using (Ajax.BeginForm(ajaxOpts))
{
    <div>
        @Html.TextBox("keyword")
        <button type="submit">查询</button>
    </div>
}

<div id="AjaxBody">
    @Html.Action((string)ViewBag.Action, Html.RouteValues((object)ViewBag.RV, new { time = DateTime.Now.ToLongTimeString() }))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //$("#msg").delay(3000).fadeOut(500);
    </script>
}