@{
    string action = ((RouteValueDictionary)ViewBag.RV).Where(a => a.Key == "actionAjax").Select(a => a.Value).SingleOrDefault().ToString();

    ViewBag.Title = "客户列表";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "AjaxBody",
        Url = Url.Action(action),
    };
    
}

<h2>@ViewBag.Title</h2>
@Html.Partial("Msg")
@using (Ajax.BeginForm(ajaxOpts))
{
    <table>
        <tr>
            <td>
                <span class="searchLabel">关键词</span>
            </td>
            <td>
                <span class="searchLabel">包含已删除项目</span>
            </td>
            <td></td>
        </tr>
        <tr>
            @Html.Hidden("actionAjax", action)
            <td>
                @Html.TextBox("keyword")
            </td>
            <td>
                @Html.CheckBox("includeSoftDeleted", false)
            </td>
            <td>
                <button type="submit">查询</button>
            </td>
        </tr>
    </table>
}
<div id="AjaxBody">
    @Html.Action(action, (RouteValueDictionary)(ViewBag.RV))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //$("#msg").delay(3000).fadeOut(500);
    </script>
}