@model OB.Models.Client

@{
    ViewBag.Title = "Restore";
}

<h2>Restore</h2>

<h3>Are you sure you want to Restore this?</h3>

<fieldset>
    <legend>Client</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.HRAdmin.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HRAdmin.Name)
    </div>
</fieldset>

<div>
    @using (Html.BeginForm("RestoreSave", "Client"))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("id", Model.Id)
        @Html.Hidden("returnUrl", @Url.Content((string)ViewBag.ReturnUrl))

        <input type="submit" value="确认恢复" />
    }
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">返回</a>
</div>
