@model OB.Models.ClientCitySupplierHukou

<fieldset>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Client.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label multi">
        @Html.DisplayNameFor(model => model.PensionTypes)
    </div>
    <div class="display-field multi">
        @Html.DisplayFor(model => model.PensionTypes)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.AccumulationTypes)
    </div>
    <div class="display-field multi">
        @Html.DisplayFor(model => model.AccumulationTypes)
    </div>
</fieldset>