@model OB.Models.ClientCitySupplierHukou

@{
    ViewBag.Name = "客户城市供应商户口";
    ViewBag.Title = "新建";
}

<h1>@ViewBag.Name</h1>
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateSave", "ClientCitySupplierHukou"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Name</legend>
        @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)

        <div class="editor-label">
            @Html.LabelFor(model => model.ClientId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ClientId, new SelectList(Common.GetHRAdminClientList(WebSecurity.CurrentUserId), "Id", "Name"), String.Empty)
            @Html.ValidationMessageFor(model => model.ClientId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CityId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CityId, new SelectList(Common.GetCityList(), "Id", "Name"), String.Empty)
            @Html.ValidationMessageFor(model => model.CityId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SupplierId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SupplierId, new SelectList(Common.GetSupplierList(), "Id", "Name"), String.Empty)
            @Html.ValidationMessageFor(model => model.SupplierId)
        </div>
                <div class="editor-label">
            @Html.LabelFor(model => model.HukouType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.HukouType, new SelectList(Enum.GetNames(typeof(HukouType))), String.Empty)
            @Html.ValidationMessageFor(model => model.SupplierId)
        </div>

        <p>
            <input type="submit" value="保存" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
