@model OB.Models.ViewModel.EditEmployeeDoc

@{
    ViewBag.Title = "EditEmployeeDoc";
}

<h2>EditEmployeeDoc</h2>
<div class="help">
    <p>个人资料填写说明</p>
    @Html.Action("GetDocumentNote", "Employee", new { id = Model.EmployeeId })
</div>
<fieldset>
    <legend>EditEmployeeDoc</legend>
    @Html.Action("EmployeeAbstract", "Employee", new { id = Model.EmployeeId })

    <div id="uploadFiles">
        @foreach (var item in Model.EditSingleEmployeeDocs)
        {
            <div class="uploadDiv">
                @using (Html.BeginForm("UploadImg", "Employee", FormMethod.Post, new { enctype = "multipart/form-data", id = "F_" + @item.DocumentId, @class = "uploadForm" }))
                {
                    <div>
                        @Html.DisplayFor(model => item.DocumentName)
                    </div>
                    <div>
                        <input type="file" name="files">
                        <input type="submit" value="上传">
                        <div class="progress">
                            <div class="bar"></div>
                            <div class="percent">0%</div>
                            <div class="status">&nbsp;</div>
                        </div>
                    </div>

                    <div>
                        @if (String.IsNullOrEmpty(@item.ImgPath))
                        {
                            <img class="doc" src="~/Images/default.png" />
                        }
                        else
                        {
                            <img class="doc" src="~/Content/UploadedFolder/@item.ImgPath" />
                        }
                    </div>
                }
            </div>
        }
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.EditorForModel()
        <div id="editDocs">
            @Html.EditorFor(model => model.EditSingleEmployeeDocs)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
   
    }
</fieldset>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/cw/jquery.form.js")
    <script>
        (function () {
            var bar;
            var percent;
            var status;
            var img;
            var percentVal = '0%';

            $(".uploadForm").ajaxForm({
                beforeSubmit: function (arr, $form, options) {
                    //init element
                    idStr = $form.attr("id").substring(2);
                    bar = $form.children().children(".progress").children(".bar");
                    percent = $form.children().children(".progress").children(".percent");
                    status = $form.children().children(".progress").children(".status");
                    status.html("&nbsp;");
                    img = $form.children().children("img.doc");
                    imgPath = $("#I_" + idStr);
                    percentVal = '0%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                success: function () {
                },
                complete: function (xhr) {
                    if (xhr.responseText.indexOf("OK") == 0) {
                        percentVal = '100%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                        status.html("上传成功!");
                        img.attr("src", "/Content/UploadedFolder/" + xhr.responseText.substring(2));
                        imgPath.val(xhr.responseText.substring(2));
                    }
                    else {
                        percentVal = '0%';
                        status.html(xhr.responseText);
                    }
                }
            });

        })();
    </script>
}