@model OB.Models.ViewModel.EditEmployeeFamily

@{
    ViewBag.Title = "EditEmployeeFamily";
}

<h2>EditEmployeeFamily</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Action("EmployeeAbstract", "Employee", new { id = Model.EmployeeId });
    <fieldset>
        <legend>EditEmployeeFamily</legend>

        @Html.EditorForModel()
        <div id="editFamilies">
            @Html.EditorFor(model => model.EditFamilies)
        </div>
        <p>
            @Html.LinkToAddNestedForm("添加", "#editFamilies", ".editFamily", "editFamilies", typeof(OB.Models.ViewModel.EditFamily))
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/cw/custom.js")"></script>
    <script>
        $(document).ready(function () {
            $("#editFamilies").delegate(".remove", "click", function () {
                $(this).parent().siblings().children(".editor-field").children('input[name$="Name"]').val('1');
                $(this).parent().siblings().children(".editor-field").children('input[name$="Relation"]').val('1');
                $(this).parent().siblings().children(".editor-field").children('select[name$="Sex"]').val('男');
            });
        });
    </script>
}