@model OB.Models.ViewModel.EditEmployeeEducation

@{
    ViewBag.Title = "EditEmployeeEducation";
}

<h2>EditEmployeeEducation</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Action("EmployeeAbstract", "Employee", new { id = Model.EmployeeId });
    <fieldset>
        <legend>EditEmployeeEducation</legend>

        @Html.EditorForModel()
        <div id="editEducations">
            @Html.EditorFor(model => model.EditEducations)
        </div>
        <p>
            @Html.LinkToAddNestedForm("添加", "#editEducations", ".editEducation", "editEducations", typeof(OB.Models.ViewModel.EditEducation))
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/cw/custom.js")"></script>
    <script>
        $(document).ready(function () {
            $("#editEducations").delegate(".remove", "click", function () {
                $(this).parent().siblings().children(".editor-field").children('input[name$="School"]').val('1');
                $(this).parent().siblings().children(".editor-field").children('input[name$="Major"]').val('1');
                $(this).parent().siblings().children(".editor-field").children('select[name$="DegreeId"]').val('1');
                $(this).parent().siblings().children(".editor-field").children('input[name$="Begin"]').val("2000-01-01");
            });
        });
    </script>
}