@model OB.Models.ViewModel.OnPosition

@{
    ViewBag.Title = "OnPosition";
}

<h2>OnPosition</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Action("EmployeeDetails", "Employee", new { id = Model.EmployeeId });
    <fieldset>
        <legend>OnPosition</legend>
        @Html.Hidden("returnUrl", @Url.Content((string)ViewBag.ReturnUrl))

        @Html.HiddenFor(model => model.EmployeeId)
        @Html.HiddenFor(model => model.Timestamp)

        <p>
            <input type="submit" value="确认入职" />
        </p>
    </fieldset>
}
<div>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
