@model OB.Models.ViewModel.Offer

@{
    ViewBag.Title = "发送Offer";
}

<h2>@ViewBag.Title</h2>
@Html.Action("EmployeeAbstract", "Employee", new { id = Model.EmployeeId })
@using (Html.BeginForm("SendOfferSave", "Employee"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Offer</legend>
        @Html.Hidden("returnUrl", @Url.Content((string)ViewBag.ReturnUrl))

        @Html.HiddenFor(model => model.EmployeeId)
        @Html.HiddenFor(model => model.Timestamp)
        @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.Content)

        <p>
            <input type="submit" value="发送Offer" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    <script>
        CKEDITOR.replace('Content', {
            // Load the German interface.
            language: 'zh-cn'
        });
    </script>

}