@model OB.Models.Weight

@{
    ViewBag.Name = "客户权重";
    ViewBag.Title = "编辑";
}

<h1>@ViewBag.Name</h1>
<h2>@ViewBag.Title</h2>

@Html.Action("Abstract")

@using (Html.BeginForm("EditSave", "Weight"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Name</legend>
        @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.WeightClientId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Educations)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Educations)
            @Html.ValidationMessageFor(model => model.Educations)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Works)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Works)
            @Html.ValidationMessageFor(model => model.Works)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Families)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Families)
            @Html.ValidationMessageFor(model => model.Families)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChineseName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChineseName)
            @Html.ValidationMessageFor(model => model.ChineseName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnglishName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnglishName)
            @Html.ValidationMessageFor(model => model.EnglishName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sex)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sex)
            @Html.ValidationMessageFor(model => model.Sex)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Marriage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Marriage)
            @Html.ValidationMessageFor(model => model.Marriage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nationality)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nationality)
            @Html.ValidationMessageFor(model => model.Nationality)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nation)
            @Html.ValidationMessageFor(model => model.Nation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CertificateId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CertificateId)
            @Html.ValidationMessageFor(model => model.CertificateId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CertificateNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CertificateNumber)
            @Html.ValidationMessageFor(model => model.CertificateNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Birthday)
            @Html.ValidationMessageFor(model => model.Birthday)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JuzhuAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JuzhuAddress)
            @Html.ValidationMessageFor(model => model.JuzhuAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JuzhudiZipCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JuzhudiZipCode)
            @Html.ValidationMessageFor(model => model.JuzhudiZipCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mobile1)
            @Html.ValidationMessageFor(model => model.Mobile1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mobile2)
            @Html.ValidationMessageFor(model => model.Mobile2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmergencyContact)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmergencyContact)
            @Html.ValidationMessageFor(model => model.EmergencyContact)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmergencyContactPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmergencyContactPhone)
            @Html.ValidationMessageFor(model => model.EmergencyContactPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PrivateMail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PrivateMail)
            @Html.ValidationMessageFor(model => model.PrivateMail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HujiAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HujiAddress)
            @Html.ValidationMessageFor(model => model.HujiAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HujiZipCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HujiZipCode)
            @Html.ValidationMessageFor(model => model.HujiZipCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JuzhuzhengNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JuzhuzhengNumber)
            @Html.ValidationMessageFor(model => model.JuzhuzhengNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JuzhuzhengDueDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JuzhuzhengDueDate)
            @Html.ValidationMessageFor(model => model.JuzhuzhengDueDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SocialGonglingStartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SocialGonglingStartDate)
            @Html.ValidationMessageFor(model => model.SocialGonglingStartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bank)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bank)
            @Html.ValidationMessageFor(model => model.Bank)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BankAccount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BankAccount)
            @Html.ValidationMessageFor(model => model.BankAccount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BankAccountName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BankAccountName)
            @Html.ValidationMessageFor(model => model.BankAccountName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeNote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeNote)
            @Html.ValidationMessageFor(model => model.EmployeeNote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BasicInfo1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasicInfo1)
            @Html.ValidationMessageFor(model => model.BasicInfo1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BasicInfo2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasicInfo2)
            @Html.ValidationMessageFor(model => model.BasicInfo2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BasicInfo3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasicInfo3)
            @Html.ValidationMessageFor(model => model.BasicInfo3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BasicInfo4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasicInfo4)
            @Html.ValidationMessageFor(model => model.BasicInfo4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BasicInfo5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasicInfo5)
            @Html.ValidationMessageFor(model => model.BasicInfo5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BasicInfo6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasicInfo6)
            @Html.ValidationMessageFor(model => model.BasicInfo6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BasicInfo7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasicInfo7)
            @Html.ValidationMessageFor(model => model.BasicInfo7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BasicInfo8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasicInfo8)
            @Html.ValidationMessageFor(model => model.BasicInfo8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BasicInfo9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasicInfo9)
            @Html.ValidationMessageFor(model => model.BasicInfo9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BasicInfo10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasicInfo10)
            @Html.ValidationMessageFor(model => model.BasicInfo10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HukouType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HukouType)
            @Html.ValidationMessageFor(model => model.HukouType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PensionCityId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PensionCityId)
            @Html.ValidationMessageFor(model => model.PensionCityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccumulationCityId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccumulationCityId)
            @Html.ValidationMessageFor(model => model.AccumulationCityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PensionTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PensionTypeId)
            @Html.ValidationMessageFor(model => model.PensionTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccumulationTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccumulationTypeId)
            @Html.ValidationMessageFor(model => model.AccumulationTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PensionStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PensionStatus)
            @Html.ValidationMessageFor(model => model.PensionStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YibaokaAvailable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YibaokaAvailable)
            @Html.ValidationMessageFor(model => model.YibaokaAvailable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccumulationStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccumulationStatus)
            @Html.ValidationMessageFor(model => model.AccumulationStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccumulationNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccumulationNumber)
            @Html.ValidationMessageFor(model => model.AccumulationNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DanganAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DanganAddress)
            @Html.ValidationMessageFor(model => model.DanganAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DanganOrganization)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DanganOrganization)
            @Html.ValidationMessageFor(model => model.DanganOrganization)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DanganNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DanganNumber)
            @Html.ValidationMessageFor(model => model.DanganNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PensionInfo1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PensionInfo1)
            @Html.ValidationMessageFor(model => model.PensionInfo1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PensionInfo2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PensionInfo2)
            @Html.ValidationMessageFor(model => model.PensionInfo2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PensionInfo3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PensionInfo3)
            @Html.ValidationMessageFor(model => model.PensionInfo3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PensionInfo4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PensionInfo4)
            @Html.ValidationMessageFor(model => model.PensionInfo4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PensionInfo5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PensionInfo5)
            @Html.ValidationMessageFor(model => model.PensionInfo5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClientId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClientId)
            @Html.ValidationMessageFor(model => model.ClientId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkClient)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WorkClient)
            @Html.ValidationMessageFor(model => model.WorkClient)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyMail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyMail)
            @Html.ValidationMessageFor(model => model.CompanyMail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnterDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnterDate)
            @Html.ValidationMessageFor(model => model.EnterDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProbationDueDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProbationDueDate)
            @Html.ValidationMessageFor(model => model.ProbationDueDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnterClientDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnterClientDate)
            @Html.ValidationMessageFor(model => model.EnterClientDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyYearAdjust)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyYearAdjust)
            @Html.ValidationMessageFor(model => model.CompanyYearAdjust)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SocialYearAdjust)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SocialYearAdjust)
            @Html.ValidationMessageFor(model => model.SocialYearAdjust)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VacationDays)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VacationDays)
            @Html.ValidationMessageFor(model => model.VacationDays)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkCityId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WorkCityId)
            @Html.ValidationMessageFor(model => model.WorkCityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepartmentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DepartmentId)
            @Html.ValidationMessageFor(model => model.DepartmentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LevelId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LevelId)
            @Html.ValidationMessageFor(model => model.LevelId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PositionId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PositionId)
            @Html.ValidationMessageFor(model => model.PositionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContractNumber)
            @Html.ValidationMessageFor(model => model.ContractNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractBeginDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContractBeginDate)
            @Html.ValidationMessageFor(model => model.ContractBeginDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractEndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContractEndDate)
            @Html.ValidationMessageFor(model => model.ContractEndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContractTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContractTypeId)
            @Html.ValidationMessageFor(model => model.ContractTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProbationSalary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProbationSalary)
            @Html.ValidationMessageFor(model => model.ProbationSalary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Salary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Salary)
            @Html.ValidationMessageFor(model => model.Salary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PensionStartMonth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PensionStartMonth)
            @Html.ValidationMessageFor(model => model.PensionStartMonth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccumulationStartMonth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccumulationStartMonth)
            @Html.ValidationMessageFor(model => model.AccumulationStartMonth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayByCompany)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PayByCompany)
            @Html.ValidationMessageFor(model => model.PayByCompany)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Yljs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Yljs)
            @Html.ValidationMessageFor(model => model.Yljs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Syjs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Syjs)
            @Html.ValidationMessageFor(model => model.Syjs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Yiliaojs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Yiliaojs)
            @Html.ValidationMessageFor(model => model.Yiliaojs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gsjs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gsjs)
            @Html.ValidationMessageFor(model => model.Gsjs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Shengyujs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Shengyujs)
            @Html.ValidationMessageFor(model => model.Shengyujs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Qtjs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Qtjs)
            @Html.ValidationMessageFor(model => model.Qtjs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bcjs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bcjs)
            @Html.ValidationMessageFor(model => model.Bcjs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gjjjs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gjjjs)
            @Html.ValidationMessageFor(model => model.Gjjjs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bcgjjjs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bcgjjjs)
            @Html.ValidationMessageFor(model => model.Bcgjjjs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaxType)
            @Html.ValidationMessageFor(model => model.TaxType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ZhangtaoId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ZhangtaoId)
            @Html.ValidationMessageFor(model => model.ZhangtaoId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxCityId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaxCityId)
            @Html.ValidationMessageFor(model => model.TaxCityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo1)
            @Html.ValidationMessageFor(model => model.HireInfo1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo2)
            @Html.ValidationMessageFor(model => model.HireInfo2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo3)
            @Html.ValidationMessageFor(model => model.HireInfo3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo4)
            @Html.ValidationMessageFor(model => model.HireInfo4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo5)
            @Html.ValidationMessageFor(model => model.HireInfo5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo6)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo6)
            @Html.ValidationMessageFor(model => model.HireInfo6)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo7)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo7)
            @Html.ValidationMessageFor(model => model.HireInfo7)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo8)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo8)
            @Html.ValidationMessageFor(model => model.HireInfo8)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo9)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo9)
            @Html.ValidationMessageFor(model => model.HireInfo9)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo10)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo10)
            @Html.ValidationMessageFor(model => model.HireInfo10)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo11)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo11)
            @Html.ValidationMessageFor(model => model.HireInfo11)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo12)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo12)
            @Html.ValidationMessageFor(model => model.HireInfo12)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo13)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo13)
            @Html.ValidationMessageFor(model => model.HireInfo13)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo14)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo14)
            @Html.ValidationMessageFor(model => model.HireInfo14)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo15)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo15)
            @Html.ValidationMessageFor(model => model.HireInfo15)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo16)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo16)
            @Html.ValidationMessageFor(model => model.HireInfo16)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo17)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo17)
            @Html.ValidationMessageFor(model => model.HireInfo17)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo18)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo18)
            @Html.ValidationMessageFor(model => model.HireInfo18)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo19)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo19)
            @Html.ValidationMessageFor(model => model.HireInfo19)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireInfo20)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireInfo20)
            @Html.ValidationMessageFor(model => model.HireInfo20)
        </div>

        <p>
            <input type="submit" value="保存" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
