@model IEnumerable<OB.Models.Weight>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeightClient.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Educations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Works)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Families)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ChineseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SexId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarriageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertificateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertificateNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JuzhuAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JuzhudiZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContractPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrivateMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HujiAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HujiZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JuzhuzhengNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JuzhuzhengDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialGonglingStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicInfo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicInfo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicInfo3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicInfo4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicInfo5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicInfo6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicInfo7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicInfo8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicInfo9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicInfo10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HukouTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PensionCityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccumulationCityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PensionTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccumulationTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PensionStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YibaokaAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccumulationStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccumulationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanganAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanganOrganization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanganNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PensionInfo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PensionInfo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PensionInfo3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PensionInfo4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PensionInfo5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProbationDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnterClientDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyYearAdjust)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialYearAdjust)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacationDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LevelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractBeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProbationSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PensionStartMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccumulationStartMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayByCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yljs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Syjs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yiliaojs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gsjs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shengyujs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qtjs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bcjs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gjjjs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bcgjjjs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZhangtaoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxCityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo17)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo19)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireInfo20)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.WeightClient == null)
                {
                    @Html.DisplayFor(modelItem => item.WeightClientId)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.WeightClient.Name)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Educations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Works)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Families)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChineseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarriageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JuzhuAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JuzhudiZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContractPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HujiAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HujiZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JuzhuzhengNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JuzhuzhengDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialGonglingStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInfo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInfo2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInfo3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInfo4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInfo5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInfo6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInfo7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInfo8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInfo9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicInfo10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HukouTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PensionCityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccumulationCityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PensionTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccumulationTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PensionStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YibaokaAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccumulationStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccumulationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanganAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanganOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanganNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PensionInfo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PensionInfo2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PensionInfo3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PensionInfo4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PensionInfo5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProbationDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnterClientDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyYearAdjust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialYearAdjust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacationDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractBeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProbationSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PensionStartMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccumulationStartMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayByCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yljs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Syjs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yiliaojs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gsjs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shengyujs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtjs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bcjs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gjjjs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bcgjjjs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZhangtaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxCityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireInfo20)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
