@model OB.Models.ViewModel.EditEducation
@{
    string tmp = "";
    if (Model.Delete == true)
    {
        tmp = "display:none";
    }
}
<div class="editEducation" style="@tmp">
    @Html.HiddenFor(model => model.Delete, new { @class = "mark-for-delete" })
    <div class="multiAddItem">
        <div class="editor-field">
            @Html.EditorFor(model => model.EducationId)
            @Html.ValidationMessageFor(model => model.EducationId)
        </div>
    </div>
    <div class="multiAddItem">
        <div class="editor-label">
            @Html.LabelFor(model => model.School)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.School)
            @Html.ValidationMessageFor(model => model.School)
        </div>
    </div>
    <div class="multiAddItem">
        <div class="editor-label">
            @Html.LabelFor(model => model.Major)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Major)
            @Html.ValidationMessageFor(model => model.Major)
        </div>
    </div>
    <div class="multiAddItem">
        <div class="editor-label">
            @Html.LabelFor(model => model.Degree)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Degree)
            @Html.ValidationMessageFor(model => model.Degree)
        </div>
    </div>
    <div class="multiAddItem">
        <div class="editor-label">
            @Html.LabelFor(model => model.Begin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Begin)
            @Html.ValidationMessageFor(model => model.Begin)
        </div>
    </div>
    <div class="multiAddItem">
        <div class="editor-label">
            @Html.LabelFor(model => model.End)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.End)
            @Html.ValidationMessageFor(model => model.End)
        </div>
    </div>
    <div class="multiAddItem">
        @Html.LinkToRemoveNestedForm("移除", "div.editEducation", "input.mark-for-delete")
    </div>
</div>
