@model OB.Models.Family
<div class="display-label">
    @Html.DisplayNameFor(model => model.Name)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Relation)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Relation)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.SexId)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Sex.Name)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Company)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Company)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Position)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Position)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Phone)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Phone)
</div>
