@model OB.Models.Work
<div class="display-label">
    @Html.DisplayNameFor(model => model.Company)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Company)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Position)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Position)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Begin)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Begin)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.End)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.End)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Contact)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Contact)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Phone)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Phone)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Note)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Note)
</div>

