@model OB.Models.Assurance

<fieldset>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ClientId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>

