@model OB.Models.CustomField

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CustomField</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Client.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicInfo1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicInfo1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicInfo2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicInfo2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicInfo3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicInfo3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicInfo4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicInfo4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicInfo5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicInfo5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicInfo6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicInfo6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicInfo7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicInfo7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicInfo8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicInfo8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicInfo9)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicInfo9)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BasicInfo10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BasicInfo10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PensionInfo1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PensionInfo1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PensionInfo2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PensionInfo2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PensionInfo3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PensionInfo3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PensionInfo4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PensionInfo4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PensionInfo5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PensionInfo5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo9)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo9)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo11)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo11)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo12)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo12)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo13)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo13)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo14)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo14)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo15)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo15)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo16)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo16)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo17)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo17)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo18)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo18)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo19)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo19)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireInfo20)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireInfo20)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
