@model OB.Models.CustomField

@{
    ViewBag.Name = "客户化项目";
    ViewBag.Title = "详情";
}

<h1>@ViewBag.Name</h1>
<h2>@ViewBag.Title</h2>

@Html.Action("Abstract")
<p>
    @using (Html.BeginForm("Edit", "CustomField"))
    {    
        @Html.AntiForgeryToken()

        @Html.Hidden("id", Model.Id)
        @Html.Hidden("returnUrl", @Url.Content((string)ViewBag.ReturnUrl))
        <input type="submit" value="编辑" />
    }
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">返回</a>
</p>
